body{
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Jura', sans-serif;
    font-size: 20px;
}
.container{
    margin: auto;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

.menu{
    display: flex;
    list-style: none;
    padding-left: 0;
    
}
.menu li{
    font-size: 16px;
    padding: 9px 20px;

}
.menu li a {
    text-decoration: none;
    color: white;
}

.menu li:hover {
    background-color: #f8c25d;
    border-radius: 4px;
    
}
.menu li a:hover{
    color: black;
}

.navbar_toggle{
    display: none;
    background-color: transparent;
    border:0;
    cursor: pointer;
    position: absolute; 
    right: 32px;
    font-size: 24px;
    color: #f8c25d;
}

.navbar_toggle:focus {
    outline: none;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1.2rem 0;
    background-color: #343fce;
}
/* Korean cuisins */
header>p {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 2px 13px;
    color: #ffffff;
}

header>p>a {
    text-decoration: none;
    color: white;
}
header>ul {
    display: flex;
    padding: 2px 30px;
}

header>ul>li {
    list-style-type: none;
    margin-left: 3.5rem;
}

header>ul>li>a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 5px;
    color: #ffffff;
}

main {
    padding: 0 3rem;
    text-align: center;
}
#skip h1{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 3rem;
}
main>p {
    margin-bottom: 2rem;
}

main>p:first-child {
    font-size: 2rem;
    font-weight: 900;
}

main>p:last-of-type{
    font-size: 1.3rem;
    font-weight: 500;
}

main>a{
    display: block;
    border: 1px solid black;
    background-color: white;
    width: 150px;
    font-size: 1.3rem;
    font-weight: 700;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}
footer {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    color: white;
    background-color: black;
    padding: 1rem;
  }
  @media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%
    }
    .menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_toggle{
        display: block;
        padding: 3px 0px;
        
    }
    .menu.active{
        display: flex;
    }

  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    header {
        flex-direction: column;
    }

    .menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_toggle{
        display: block;
        padding: 3px 0px;
        
    }
    .menu.active{
        display: flex;
    }


    }