
body{
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Jura', sans-serif;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.background{
    background-image: url("../img/background.jpeg");
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343fce;
    padding: 2px 13px;
}

.menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.menu li{
    font-size: 16px;
    padding: 9px 20px;
}

.menu li:hover {
    background-color: #f8c25d;
    border-radius: 4px;
    
}
.menu li a:hover{
    color: black;
}

.navbar_toggle{
    display: none;
    position: absolute; 
    right: 32px;
    font-size: 24px;
    color: #f8c25d;
}
.logo {
    font-size: 25px;
    color: white;
}
.logo i {
    color: #f8c25d;
}

.wrap{
    padding-bottom: 2.5rem;
}

.container{
    margin:0 auto;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

section{
    font-size: 20px;
    text-align: center;
    padding: 11rem 3rem;

}
section >p{
    margin-bottom: 3rem;
}
section >p:first-child{
    font-size: 50px;
    font-weight: 800;
}

section >p:last-of-type{
    font-size: 20px;
    font-weight: 500;
}

section>a{
    display: block;
    border: 1px solid black;
    background-color: white;
    width: 150px;
    font-size: 1.3rem;
    font-weight: 700;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

footer {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: white;
    
}


footer{
    position: absolute;
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: black;
    color: white;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 9px 24px;
    }
    .menu{
        flex-direction: column;
        align-items: center;
        width: 100%
    }
    .menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_toggle{
        display: block;
    }

    

    
    section{
        font-size: 20px;
        text-align: center;
        padding: 11rem 3rem;
    
    }
    section >p{
        margin-bottom: 3rem;
    }
    section >p:first-child{
        font-size: 50px;
        font-weight: 800;
    }
    
    section >p:last-of-type{
        font-size: 20px;
        font-weight: 500;
    }
    
    section>a{
        display: block;
        border: 1px solid black;
        background-color: white;
        width: 150px;
        font-size: 1.3rem;
        font-weight: 700;
        margin: auto;
        padding: 1rem;
        border-radius: 10px;
        color: black;
        text-decoration: none;
    }
    
    footer {
        margin-bottom: 2rem;
        font-size: 1.1rem;
        color: white;
        text-align: center;
          
      }
    
    /* footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
        background-color: black;
        color: white;
        text-align: center;
    } */
}
